[submodule "src/bin/test_repo_clone_observer"]
	path = src/bin/test_repo_clone_observer
	url = https://github.com/jkozlovvski/Test.git
[submodule "src/bin/test_repo_clone_runner"]
	path = src/bin/test_repo_clone_runner
	url = https://github.com/jkozlovvski/Test.git
[submodule "testing_repo"]
	path = testing_repo
	url = git@github.com:jkozlovvski/Test.git
