[submodule "Test"]
	path = Test
	url = git@github.com:jkozlovvski/Test.git
[submodule "src/bin/test_repo_clone_observer"]
	path = src/bin/test_repo_clone_observer
	url = git@github.com:jkozlovvski/Test.git
[submodule "src/bin/test_repo_clone_runner"]
	path = src/bin/test_repo_clone_runner
	url = git@github.com:jkozlovvski/Test.git
