[submodule "test_repo"]
	path = test_repo
	url = ./test_repo

[submodule "test_repo_clone_observer"]
	path = src/bin/test_repo_clone_observer
	url = ./test_repo_clone_observer

[submodule "test_repo_clone_runner"]
	path = src/bin/test_repo_clone_runner
	url = ./test_repo_clone_runner